[submodule ".themes/budget-bumbago"]
	path = .themes/budget-bumbago
	url = git://github.com/octothemes/budget-bumbago.git
[submodule ".themes/callback-cockles"]
	path = .themes/callback-cockles
	url = git://github.com/octothemes/callback-cockles.git
[submodule ".themes/forest"]
	path = .themes/forest
	url = git://github.com/octothemes/forest.git
